html{
    background-color: #cccc;
    font-size: 10px;
}


body {
    background: #ffffff;
    margin: 3rem auto;
    max-width: 80rem;
    padding: 3rem;
    width: 95%;
}

fieldset{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 16px;
    border: 0; 
}
legend{
    font-weight: bold;
    margin-bottom: 25px;
}

label{
    grid-column: 1/2;
    color: silver;
}

input{
    grid-column: 2/3;
}

input[type="text"]{
    background: transparent;
    border: none;
    border-bottom: 3px solid silver;
}

.radio{
    display: flex;
}

.radio > *{
    flex: 1 1 10px;
}

.radio input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
 }


.radio input[type="radio"] + label {

    font-size:2rem;
    border: 2px solid silver;
    border-radius: 4px;
    text-align: center;
}

.radio label:hover{
    background-color: whitesmoke;
}

.radio input[type="radio"]:checked + label {
    color: red;
    border-bottom:2px solid red;
}
   
      
   